img {
    width: 80%;
}

a {
    color: #FFF;
}

a:hover {
    color: #0df10d;
}

p {
    color: white
}
li {
    display: inline-block;
    background: black;
    width: 45%;
    border: 1px;
    border-radius: 10%;
}

.marquee
{
  speed: fast;
}


